SPRING_ENCRYPTION_SENSITIVE_FIELD_ALGORITHM=AES
SPRING_ENCRYPTION_SENSITIVE_FIELD_KEY=1ea74e625d601b3d1d46bb7bbe84bb99
SPRING_JWT_SECRET_KEY="NFMX+YgtHwdIg6uhPn1O7jpDp5YWDOL1D6WZla8MIz8="
SPRING_MAIL_API_KEY= #<your resend mail api key>
SPRING_MAIL_USERNAME= #<your resend mail username>
SPRING_CORS_ALLOWED_ORIGINS=localhost

#production
#SPRING_DATASOURCE_NAME=
#SPRING_DATASOURCE_USERNAME=
#SPRING_DATASOURCE_PASSWORD=
#SPRING_DATASOURCE_URL=